.navbar,
.dropdown-menu {
    border-bottom: 1px solid grey;
}

.dropdown-menu {
    background: #F0F0F0;
}

.nav>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a,
.dropdown-menu>li {
    border-bottom: 3px solid transparent;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    border-bottom: 3px solid transparent;
    background: none;
}

.navbar a,
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover,
.nav li.active {
    border-bottom: #C4E17F 3px solid;
}


}
