.navbar-wrapper {
    margin-bottom: 70px;
}

a,
a:hover {
    color: #333;
    text-decoration: none
}


/*chat - contacten*/

.list-group .list-group-item {
    padding: 10px 16px;
}

.list-group .alert-bg {
    background-color: #f2dede;
}

.list-group-item:hover .open-chat {
    left: 30px;
}

.open-chat {
    float: right;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: auto;
    left: 80px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contact-identifier {
    float: left;
    width: 50px;
    height: 50px;
    background: #00A7D4;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 100;
    color: white;
}

.contact-info {
    display: block;
    padding-left: 60px;
}


/*chat - tekstveld*/

.client {
    background: #F8F8F8;
}

.msg {
    padding: 0 15px 20px;
}

.chat-window {
    max-height: 400px;
    overflow-y: scroll;
}

.load-more {
    background: #116887;
    color: white;
    padding: 15px 0;
}
